@keyframes appearActivePoint {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes fadeMessage {
  0% {
    opacity: 0;
    transform: translate3d(0, 2rem, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeTextSlider {
  0% {
    opacity: 0;
    transform: translate3d(2rem, 0, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes appearFormField {
  0% {
    transform: translate3d(100%, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes increaseSocialToggler {
  0% {
    transform: translate3d(-50%, -50%, 0) scale(0);
  }

  100% {
    transform: translate3d(-50%, -50%, 0) scale(1);
  }
}

@keyframes increaseCurtain {
  0% {
    transform: translate3d(0, 100%, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes increaseRulesRound {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes increaseRulesNumber {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes increaseRulesText {
  0% {
    opacity: 0;
    transform: translate3d(10%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes moveSliderControlPrev {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0) rotate(-90deg);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0) rotate(0);
  }
}

@keyframes moveSliderControlNext {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0) rotate(90deg);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0) rotate(0);
  }
}
