.curtain {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: $c-dark;
  z-index: 1;
  transform: translate3d(0, 100%, 0);

  &--active {
    animation: increaseCurtain $duration-middle ease;
  }
}
