.title-animation {
  display: inline-block;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  padding-top: 2rem;
  margin-bottom: -2rem;
  overflow: hidden;
}

.title-animation > span {
  transform: translate3d(0, 1.1em, 0);
  display: inline-block;

  .active & {
    transform: translate3d(0, 0, 0);
  }
}
